@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap");
body {
  font: 15px/2 "Poppins", sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  background-image: url("../images/background.svg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #495867;
  color: #fff;
  display: flex;
  flex-direction: column;
  
}

/* GLOBAL and Landing Page*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

#introduction, #blogs, #contact, #sign-in, #admin, #profile, #inbox, #article{
    padding-top: 140px;
    padding-bottom: 50px;
}

input[type="text"], input[type="password"], input[type="email"] {
  min-width: 160px;
  height: 2.5em;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
 
  padding: 5px 10px 5px 40px;
  transition: width 0.4s ease-in-out;
}

button, input[type="submit"] {
  font-size: 1.5rem;
  padding: 0.3vw 2vw 0.3vw 2vw;
  margin-top: 6%;
  background-color: #91e5f6;
  border: none;
  border-radius: 5%;
}
button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
}

textarea{
  width: 100%;
  min-height: 100px;
}

.info-light {
color: #91e5f6;
}

.box {
border: #91e5f6 1px solid;
border-radius: 5px;
box-shadow: 2px 1px 6px 1px #91e5f6;
}

button a{
  text-decoration: none;
  color: #322d3f;
}


/* LANDING PAGE - */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
  font-size: 2em;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
}
h3 {
  font-weight: 200;
}

#introduction article{
  padding: 0 1em;
}

/* #introduction{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} */

/*BLOG PAGE */
.article-image {
  width: 100%;
  height: 150px;
  min-width: 100px;
  object-fit: cover;
}
/* #blogs {
  background-color: #322d3f;
} */
.blog {
  padding: 2em;
}

.blog-header {
  padding: 0 2em 0 2em;
}


#sort-by {
  padding-top: -50px;
  float: right;
}

.search{
    background-image: url("../images/search.png");
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

/* input[type="text"]:focus {
  width: 100%;
} */

select{
    width: 130px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 10px;
  padding-top: 0;
}
.grid-item {
  background-color: #322d3f;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 0.5em;
  padding: 0.1em;
  padding-top: 0;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}
.grid-item h4{
  font-size: .7em;
  color: #F7D4BC;
}
.grid-item p{
  font-size: .6em;
  color: #E5E5E5;
  font-weight: 300;
}
.middle-icon{
  width: 20px;
}

.article-link{
  font-size: 0.6em;
  color: #F7D4BC;
  text-decoration: none;
  font-weight: 400;
}
.article-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .article-footer{
  border-top: 0.5px solid #91e5f6;
} */

/* ARTICLE PAGE */

.article-content{
  padding: 2em;
  padding-top: 0;
  width: 100%;
  margin: auto;
}

.article-cover{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  padding-top: 20px;
}

.posted-date{
  font-size: 0.7em;
  font-weight: 400;
  color: #89DAFF;
  
}

#article h3 a, #article h3 {
  color: #FFD1A9;
}



/* CONTACT PAGE */

#contact {
    display: flex;
    flex-direction: column;
}



/* SIGN IN PAGE */

img.avatar {
    width: 30%;
    border-radius: 50%;
  }
  #sign-in{
    display: flex;
    justify-content: space-around;
  }
  .login-form-container form{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-top: 3rem;
      
  }

  .login-form-container label, .login-form-container input{
      align-self: flex-start;
      width: 100%;
  }
  .sign-with{
      padding-top: 20px;
      border-bottom: 2px solid #91e5f6;
  }
  .sign-with:hover{
      opacity: 0.7;
      cursor: pointer;
      color: #91e5f6;
  }



  /* ADMIN PAGE */

  #admin{
      display: flex;
      flex-direction: column;
  }

  .box-container{
      min-width: 200px;
      max-width: 300px;
      min-height: 150px;
      margin: auto;
  }

  .box-container img{
      width: 80%;
  }

  .box-container div{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10%;
      background-color: #322d3f;
      padding: 1em;
  }

  /* PROFILE PAGE */

  .change-pic{
    color: #91e5f6;
  }

  /* INBOX PAGE */
  
  .inbox-container{
    background-color: rgba(28, 1, 24, 0.17);
    padding: 2em;
  }

  .message-body{
    background-color: rgba(196, 196, 196, 0.1);
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .messages{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inbox-container hr{
    margin-bottom: 1rem;
  }

  .sender{
    font-size: larger;
    font-weight: 600;
  }
  
  .message-body a{
    margin-right: 15px;
    text-decoration: none;
    color: #FFD1A9;
    font-weight: 400;
    
  }

  .date-time{
    font-size: 0.6em;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 400;

  }




/* HEADER */

header {
  min-height: 50px;
  color: #91e5f6;
  background-color: #495867;
  position: fixed;
  width: 100%;
}

header a {
  color: #91e5f6;
  text-decoration: none;
  font-size: 1rem;
}

header li {
  display: inline;
  float: left;
  padding: 0 1em 0 1em;
}

.active {
  color: #fff;
}

/* FOOTER */

footer {
  background-color: rgba(28, 1, 24, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  
}

.social-icon {
  width: 2em;
  padding: 0.4em;
}

.phone-call a{
  color: #91e5f6;
}

.social-icons {
  padding: 2em;
  display: flex;
  
}


/* MEDIA QUERRIES */

@media (min-width: 600px) {
  /*  GLOBAL 
        & Landing Page
    */
  body {
    font-size: 1.3rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  nav {
    align-self: center;
  }
  #introduction {
    display: flex;
  }
  #introduction article {
    width: 50%;
  }

  /* Blog Page */
  .blog {
    padding: 3em;
  }
  /* input[type="text"]:focus {
    width: 40%;
  } */

  .grid-container{
    grid-template-columns: auto auto auto;
  }

  /* Article Page */
  .article-content{
    width:70%;
  }



  /* Contact Page */
  #contact{
      flex-direction: row;
      justify-content: center;
  }
  .right-c, .left-c{
      width: 50%;
  }

  /* ADMIN PAGE */
  #admin{
      flex-direction: row;
  }

  /* PROFILE PAGE */
  .profile-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
}
